<div class="container mt-6">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Angular Password Generator</h1>
      <div class="field">
        <label>Length</label><br />
        <input
          class="input"
          type="text"
          (input)="onChangeLength($any($event.target).value)"
        />
      </div>
      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox" (change)="onChangeLetter()" />
            Use Letters
          </label>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox" (change)="onChangeNumber()" />
            Use Numbers
          </label>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox" (change)="onChangeSymbol()" />
            Use Symbols
          </label>
        </div>
      </div>
      <button
        class="button is-link is-fullwidth"
        [disabled]="
          !(length && (includeLetters || includeNumbers || includeSymbols))
        "
        (click)="onButtonClick()"
      >
        Generate!
      </button>
      <div class="field">
        <label>Your password </label>
        <div class="field has-addons">
          <div class="control is-expanded">
            <input
              class="input is-fullwidth"
              type="text"
              [value]="getPassword()"
            />
          </div>
          <div class="control">
            <a class="button is-success is-outlined"
            (click)="copyToClipboard()"> Copy to clipboard </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
